<header>
  <nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/intraway.png" height="50" alt="">
  </a>
  </nav>
</header>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar mr-2">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-md-9 pt-4">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Copyright 2020 - Intraway.</span>
  </div>
</footer>
